doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="/javascripts/vendor/Tonejs/Tone.min.js")
    script(src="/javascripts/vendor/nexus-js/NexusUI.js")
  body
    section#wrapper
        block content
        
    script(src="/javascripts/reVoicr.js")
