<% include ../partials/header %>

<div class="jumbotron">
    <h1>Link - Kürzer</h1>
    <p>Mit diesem Tool kannst du deine Links verkürzen.</p>
</div>

<% include ../pages/landing/form %>

<% include ../partials/footer %>