<% include ../partials/header %>

<%= search %>

<% for(var key in response.query.pages) { %>
    <% if(response.query.pages.hasOwnProperty(key)) { %>
        <% var value = response.query.pages[key] %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <%= value.title %>        
                </h3>
            </div>
        </div>
        <div class="panel-body">
            <% if (value.thumbnail != null) { %>
                <img src="<%= value.thumbnail.source %>" style="float:left; max-width:150px; margin-right:15px;" />    
            <% } %>
            <%- value.extract %>
        </div>
    <% } %>
<% } %>

<% include ../partials/footer %>